/* Shared Styles */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

body{
    width: 1511px;
    height: 600px;
}

main{
    margin:50px 140px ;
}
section{
    height: 600px;
    margin-bottom: 120px;
}

.center-texts{
    text-align: center;
}

/* party celebration */
.party-celebration{
    background-image:linear-gradient(rgba(7, 2, 17, 1),rgba(7, 2, 17, 0)), url(/images/Banner_Image.png);
    background-repeat: no-repeat;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.party{
    height: 245px;
    width: 630px;
}
.party h5{
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 0px;
    opacity: 70%;
}
.party h3{
    font-size: 72px;
    line-height: 68px;
    font-weight: bold;
    margin-top: 0px;
    opacity: 95%;
}

/* Percentage Discount */
.percentage-discount{
    margin: 120px 260px;
    margin-bottom: 240px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.percentage-discount h2{
    font-size: 88px;
    font-weight: bold;
    color: red;
    margin-bottom: 0px;
}
.percentage-discount p{
    font-size: 24px;
    color: red;
}
.percentage-discount h4{
    margin-top: 0px;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 0px;
}

/* Midnight Party */
.midnight-party{
    background-image:linear-gradient(
        rgba(7, 2, 17, 1),rgba(7, 2, 17, 0)
    ), url(/images/Vectorrr.png);
    color: white;
    display: flex;
    gap:39px ;
    align-items: center;
}

.midnight-text{
    width: 600px;
    padding-left: 126px;
    
}
.midnight-image{

}